<ul class="payment-method-controls">
  <% methods.each do |method| %>
    <li id="payment_view_<%= method.id %>" class="payment-method-control-item">
      <%= render(
        "checkouts/payment/#{method.partial_name}",
        payment_method: method
      ) %>
    </li>
  <% end %>
</ul>
