
<div class ="document-center2">
<div class="carousel-container2">
  <div class="carousel--slides2">
    <div class="carousel-screen2 bg-1" style="display: block;">
      <div class="text-container2">
        <p>INTRODUCING - HOPE HAIR TIE MADE FROM THOMAS MASON COTTON</p>
      </div>
    </div>
    <div class="carousel-screen2 bg-2">
      <div class="text-container2">
        <p>RE-STOCK SALMA JEANS</p>
      </div>
    </div>
    <div class="carousel-screen2 bg-3">
      <div class="text-container2">
        <p>NEW ARRIVALS - THE PERFECT SUMMER DRESS</p>
      </div>
    </div>
</div>
</div>
