
<div class ="document-center">
<div class="carousel-container">
  <div class="carousel--slides">
    <div class="carousel-screen" style="display: block;">
      <%= image_tag 'spree/frontend/homepage_campaigns/small.jpg', alt: 'slide-1', class: 'carousel-img' %>
      <div class="text-container">
        <p>INTRODUCING - HOPE HAIR TIE MADE FROM THOMAS MASON COTTON</p>
      </div>
    </div>
    <div class="carousel-screen">
      <%= image_tag 'spree/frontend/homepage_campaigns/small2.jpg', alt: 'slide-2', class: 'carousel-img' %>
      <div class="text-container">
        <p>RE-STOCK SALMA JEANS</p>
      </div>
    </div>
    <div class="carousel-screen">
      <%= image_tag 'spree/frontend/homepage_campaigns/small.jpg', alt: 'slide-3', class: 'carousel-img' %>
      <div class="text-container">
        <p>NEW ARRIVALS - THE PERFECT SUMMER DRESS</p>
      </div>
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#65087;</a>
    <a class="next" onclick="plusSlides(1)">&#65088;</a>
  </div>
  <br>
  <div class="circle-container" style="text-align:right;">
    <span class="circle" onclick="currentSlide(0)"></span>
    <span class="circle" onclick="currentSlide(1)"></span>
    <span class="circle" onclick="currentSlide(2)"></span>
  </div>
</div>
<%= javascript_include_tag 'spree/frontend/homepage/carousel.js' %>
</div>
