<div class="about-screen">
    <div class="about-content">
        <div>
            <div>
                <p style="text-transform: uppercase;">
                About Permanence 
                </p>
                <p>
                Permanence is an exclusive rare designer vintage reseller founded by Soad and Noran Ageel.
                </p>
                <p>
                Permanence is about a luxury permanent archive curated by both sisters and sourced through entrusted and authenticated resellers and collectors across Europe.
                </p>
                <p>
                Each piece reflects its price, its natural fabrics, well cut and tailored to a finish that endures. Every one of our pieces is individual, has seen life and carrys character and a story not found in any edition today. We don’t do trends, flings or anything of that sort.
                </p>
                <p>
                We are one offs, collectables, a forever piece in your wardrobe, permanent.
                </p>
                <p>
                That’s Permanence. 
                </p>
            </div>
        </div>
    </div>
</div>