<div class="about-screen">
    <div class="about-content">
        <div>
            <div>
                <p style="text-transform: uppercase;">
                Our code of conduct
                </p>
                <p>
                Permanence is committed to creating a more sustainable outlook on fashion. Vintage clothing is environmentally friendly and sustainable, as no new resources and energy have to be used to create the garments. Permanence pieces are sourced from across Europe with authenticated resellers of vintage clothing.
                </p>
                <p>
                Vintage clothing differs from fast fashion in the fact that it withstands the test of time by both remaining fashionable and not deteriorating after a short while or small amount of use. Vintage clothing has the potential to be reused and loved once again, by being passed through multiple owners it can still look just as good as it did (if not better) than when it was first produced.
                </p>
                <p>
                Vintage clothing is the best sustainable way to shop. The fast fashion industry generates 100 billion garments each year and is one of the most polluting industries in the world. Collections are restocked every 4-6 weeks, which means consumers are pressured to buy more and think less, leaving some items of clothing that were once favorites slipping towards the back of our wardrobes and then eventually discarded at landfill.
                </p>
                <p>
                Recycling and reusing items means fewer polluting resources are being used to make brand new clothing, as well as the fact it prolongs the life of an item and redirects it from landfill. And fun because you do not have to surrender your style in aid of sustainability, vintage provides both. Great quality vintage clothing, curated in line with current and timeless trends!
                </p>
            </div>
        </div>
    </div>
</div>