<div class="about-screen">
    <div class="about-content">
        <div>
            <div>
                <p style="text-transform: uppercase;">
                Contact Us
                </p>
                <p>
                You are welcome to get in touch with our customer service at, if you have any questions or need additional help.
                </p>
                <p style="text-transform: uppercase;">
                E-mail
                </p>
                <p>
                infopermanencee@gmail.com
                </p>
                <p style="text-transform: uppercase;">
                Phone number
                </p>
                <p>
                +20 115 6693394 
                </p>
                <p>Customer Service opening hours,</p>
                <p>Sunday-Thursday 9am-5pm CET</p>
                <p>With exception of national holidays.</p>

            </div>
        </div>
    </div>
</div>













