<div class="faq--container">
    <section class="page-cover--section">
        <h1 class="faq-title">Frequently Asked Questions</h1>
    </section>
    <section class="accordions--section">
        <div>
            <div class="accordion">
                <button class="accordion--toggle" onclick="accordionToggle(0)">
                    <div class="accordion--icon">
                            <svg fill="#000000" height="6px" width="6px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                            viewBox="0 0 330 330" xml:space="preserve">
                            <path id="XMLID_224_" d="M325.606,229.393l-150.004-150C172.79,76.58,168.974,75,164.996,75c-3.979,0-7.794,1.581-10.607,4.394
                            l-149.996,150c-5.858,5.858-5.858,15.355,0,21.213c5.857,5.857,15.355,5.858,21.213,0l139.39-139.393l139.397,139.393
                            C307.322,253.536,311.161,255,315,255c3.839,0,7.678-1.464,10.607-4.394C331.464,244.748,331.464,235.251,325.606,229.393z"/>
                            </svg>
                        
                    </div>
                    How do I take care of my vintage pieces? 
                </button>
                <div class="accordion--content" >
                    <p>Vintage pieces have withstood the past and can withstand the future with care. This includes keeping your vintage clothes in a dry, dust-free place away from direct sunlight. Humidity or damp will damage delicate fibers, and sunlight can fade prints and colors. Keep vintage clothes stored where they can breathe, not in plastic covers.Regarding the cleaning process- If you wear a vintage garment, and it doesn't get dirty, consider holding off on washing it. Rather than washing the item, either in a washing machine or by hand, let it air out. Try hanging the item outside in the fresh air and sun for a few hours; you'll be amazed at how this can really freshen an item out.</p>
                </div>
            </div>
            <div class="accordion">
                <button class="accordion--toggle" onclick="accordionToggle(1)">
                    <div class="accordion--icon">
                            <svg fill="#000000" height="6px" width="6px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                            viewBox="0 0 330 330" xml:space="preserve">
                            <path id="XMLID_224_" d="M325.606,229.393l-150.004-150C172.79,76.58,168.974,75,164.996,75c-3.979,0-7.794,1.581-10.607,4.394
                            l-149.996,150c-5.858,5.858-5.858,15.355,0,21.213c5.857,5.857,15.355,5.858,21.213,0l139.39-139.393l139.397,139.393
                            C307.322,253.536,311.161,255,315,255c3.839,0,7.678-1.464,10.607-4.394C331.464,244.748,331.464,235.251,325.606,229.393z"/>
                            </svg>
                      
                    </div>
                    When will my order be delivered?
                </button>
                <div class="accordion--content" >
                    <p>Orders are delivered inside of Cairo in 1-2 business days. However, outside of Cairo delivery takes approximately 3-4 business days. </p>
                </div>
            </div>
            <div class="accordion">
                <button class="accordion--toggle" onclick="accordionToggle(2)">
                    <div class="accordion--icon">
                        
                            <svg fill="#000000" height="6px" width="6px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                            viewBox="0 0 330 330" xml:space="preserve">
                            <path id="XMLID_224_" d="M325.606,229.393l-150.004-150C172.79,76.58,168.974,75,164.996,75c-3.979,0-7.794,1.581-10.607,4.394
                            l-149.996,150c-5.858,5.858-5.858,15.355,0,21.213c5.857,5.857,15.355,5.858,21.213,0l139.39-139.393l139.397,139.393
                            C307.322,253.536,311.161,255,315,255c3.839,0,7.678-1.464,10.607-4.394C331.464,244.748,331.464,235.251,325.606,229.393z"/>
                            </svg>
                        
                    </div>
                    Can I cancel my order or modify it?
                </button>
                <div class="accordion--content" >
                    <p>Yes. Orders can be canceled directly after via email infopermanencee@gmail.com. </p>
                </div>
            </div>
        </div>
        <div>
        <div class="accordion">
            <button class="accordion--toggle" onclick="accordionToggle(3)">
                <div class="accordion--icon">
                   
                        <svg fill="#000000" height="6px" width="6px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                        viewBox="0 0 330 330" xml:space="preserve">
                        <path id="XMLID_224_" d="M325.606,229.393l-150.004-150C172.79,76.58,168.974,75,164.996,75c-3.979,0-7.794,1.581-10.607,4.394
                        l-149.996,150c-5.858,5.858-5.858,15.355,0,21.213c5.857,5.857,15.355,5.858,21.213,0l139.39-139.393l139.397,139.393
                        C307.322,253.536,311.161,255,315,255c3.839,0,7.678-1.464,10.607-4.394C331.464,244.748,331.464,235.251,325.606,229.393z"/>
                        </svg>
                   
                </div>
                Can I exchange my order?
            </button>
            <div class="accordion--content" >
                <p>No. As vintage pieces are a one piece item, exchange is not applicable. </p>
            </div>
        </div>
        <div class="accordion">
            <button class="accordion--toggle" onclick="accordionToggle(4)">
                <div class="accordion--icon">
                    
                        <svg fill="#000000" height="6px" width="6px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                        viewBox="0 0 330 330" xml:space="preserve">
                        <path id="XMLID_224_" d="M325.606,229.393l-150.004-150C172.79,76.58,168.974,75,164.996,75c-3.979,0-7.794,1.581-10.607,4.394
                        l-149.996,150c-5.858,5.858-5.858,15.355,0,21.213c5.857,5.857,15.355,5.858,21.213,0l139.39-139.393l139.397,139.393
                        C307.322,253.536,311.161,255,315,255c3.839,0,7.678-1.464,10.607-4.394C331.464,244.748,331.464,235.251,325.606,229.393z"/>
                        </svg>
                   
                </div>
                Can I return my order?
            </button>
            <div class="accordion--content" >
                <p>No. Orders cannot be exchanged or returned once processed. </p>
            </div>
        </div>
        <div class="accordion">
            <button class="accordion--toggle" onclick="accordionToggle(5)">
                <div class="accordion--icon">
                    
                        <svg fill="#000000" height="6px" width="6px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                        viewBox="0 0 330 330" xml:space="preserve">
                        <path id="XMLID_224_" d="M325.606,229.393l-150.004-150C172.79,76.58,168.974,75,164.996,75c-3.979,0-7.794,1.581-10.607,4.394
                        l-149.996,150c-5.858,5.858-5.858,15.355,0,21.213c5.857,5.857,15.355,5.858,21.213,0l139.39-139.393l139.397,139.393
                        C307.322,253.536,311.161,255,315,255c3.839,0,7.678-1.464,10.607-4.394C331.464,244.748,331.464,235.251,325.606,229.393z"/>
                        </svg>
                    
                </div>
                My order is incorrect. What should I do?
            </button>
            <div class="accordion--content" >
                <p>Contact infopermanencee@gmail.com customer service and they will help you with correcting your order. </p>
            </div>
        </div>
        
        
        
        
        
        
        
        
        
        
        </div>
    </section>

</div>