
<div class ="document-center2">
<div class="carousel-container2">
  <div class="carousel--slides2">
  <a href="<%= products_path %>">
      <div class="carousel-screen2 bg-1">
        <div class="text-container2">
          <p>INTRODUCING - PERMANENCE WINTER DROP</p>
        </div>
      </div>
    </a>
    <a href="<%= home_about_path %>">
      <div class="carousel-screen2 bg-2">
        <div class="text-container2">
          <p>EXCLUSIVE & RARE DESIGNER VINTAGE</p>
        </div>
      </div>
    </a>
    <div class="carousel-screen2 bg-3">
      <div class="text-container2">
        <p>AUTHENTICATED & TRUSTED</p>
      </div>
    </div>
  </div>
</div>
</div>


<article>
  <%# cache(cache_key_for_products) do %>
    <%#= render 'products/products', products: @products %>
  <%# end %>
</article>
