<div class="about-screen">
    <div class="about-content">
        <div>
            <div>
                <p style="text-transform: uppercase;">
                Delivery 
                </p>
                <p>
                Permanence uses shipblue as its main shipping company. It promises to deliver in 1-2 business days inside of Cairo and 3-4 business days all across Egypt. 
                </p>
                <p style="text-transform: uppercase;">
                Return and Refunds
                </p>
                <p>
                If items are significantly damaged, return is applicable and a refund will be issued. However, Permanence quality checks all vintage pieces and any defaults are clearly stated and shown in the product description and image on the website. 
                </p>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</div>






