<div class="about-screen">
    <div class="about-content">
        <div>
            <div>
                <p style="text-transform: uppercase;">
                Terms and conditions
                </p>
                <p>
                When shopping on permanence.com you accept our terms and conditions when completing any order and purchasing. Therefore we advise all our customers to read through our terms and conditions before starting to shop permanence.com.
                </p>
                <p>
                Every time you shop at permanence.com, we ask that you agree to our Terms & Conditions because they are subject to regular updates. There will be no notification to you of such adjustments. The terms and conditions in effect at the time of your purchase, as approved by you, will apply to your order.
                </p>
                <p>
                If items are significantly damaged, return is applicable and a refund will be issued. However, Permanence quality checks all vintage pieces and any defaults are clearly stated and shown in the product description and image on the website. 
                </p>
                <p>
                The website is accessible around-the-clock and only goes offline for maintenance.
                </p>
                <p>
                Before making a purchase on the website, we advise you to contact our Customer Service if there are any terms or conditions in these terms and conditions that you do not understand.
                </p>
                <p>
                    COLORS/TEXTURES 
                </p>
                <p>
                The products will be displayed as accurately as possible by Permanence. Please take note that we cannot guarantee that the website's colors and textures will accurately reflect real-world conditions. Your computer, monitor, and color settings all play a role in this. Such a disparity cannot be attributed to Permanence. 
                </p>
                <p>
                    NOTIFICATION OF DEFECTS
                </p>
                <p>
                Permanence makes sure to show any potential defects in the photos displayed for the product and the product description. However, in any case that the customer experiences defects please contact infopermanencee@gmail.com. However, you forfeit your right to file a claim if the flaws, deficiencies, or wear and tear are the result of careless use, poor maintenance, or just regular, expected wear and tear from use. Within 72 hours of delivery, Permanence must be notified of any claims regarding product faults that may have been noticed. Please get in touch with us at  infopermanencee@gmail.com if you have a concern or a delivery that has not arrived. If the complaint is legitimate, we will give you a return shipping label that is free of charge.
                </p>
            </div>
        </div>
    </div>
</div>


















