<div class="order-details">
  <div class="order-details__info">
    <div class="checkout-delivery-step-summary">
    <div class="content-box">
      <div role="table" class="content-box__row">
        <div role="row" class="review-block">
          <div class="review-block__inner">
            <div role="rowheader" class="review-block__header">Contact</div>
            <div role="cell" class="review-block__content">
              
            </div>
            
          </div>
        </div>
        <% if order.has_checkout_step?("address") %>
        <div role="row" class="review-block">
          <div class="review-block__inner">
            <div role="rowheader" class="review-block__header">Address</div>
            <div role="cell" class="review-block__content">
              <%= render(
                'orders/address_overview',
                address: order.ship_address,
                title: t('spree.shipping_address')
              ) %>
            </div>
          </div>
        </div>

        <div role="row" class="review-block">
          <div class="review-block__inner">
            <div role="rowheader" class="review-block__header">Method</div>
            <div role="cell" class="review-block__content">
              <%= render(
                'orders/order_shipments',
                order: order
              ) %>
            </div>
          </div>
        </div>
        <% end %>
        <% if order.has_checkout_step?("payment") %>
        <div role="row" class="review-block">
          <div class="review-block__inner">
            <div role="rowheader" class="review-block__header">Payment</div>
            <div role="cell" class="review-block__content">
              <%= render(
                'orders/payment_info',
                order: order
              ) %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    
    </div>

  </div>

  <%= render "checkouts/checkout_summary", order: order %>
  
</div>
