<header class="cart-header">
  <h1 class="products-title">
    <%= t('shopping bag') %>
  </h1>

  <div class="cart-header__actions">
    <%#= order_form.button(
      t("spree.update"),
      class: 'button-primary button-primary--bordered button-primary--small',
      id: 'update-button'
    ) %>
  </div>
</header>
