.top-bar {
  // align-items: center;
  display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
  padding: 2rem 3rem;
  position: fixed;
  width: 100%;


  @include desktop {
    flex-wrap: nowrap;
    justify-content: flex-end;
  }

  

  &__search {
    flex: 0 0 100%;
    margin-top: 10px;
    order: 4;

    @include desktop {
      flex: 1 0 auto;
      margin: 0 2rem;
      order: 2;
    }
  }
.top-logo {
  width: auto;
  flex: auto;
  justify-content: center;
  display: flex;

  
}
 
}
a.top-logo {
  width: auto;
  flex: auto;
  justify-content: center;
  font-weight: 900;

  
}

.cart-link {
  flex: auto;
  justify-content: flex-end;
}