<%= form_for order, url: update_checkout_path(order.state), html: { id: "checkout_form_#{order.state}" } do |form| %>
  <% if order.state == "address" || !order.email? %>
  <div class="checkout-contact-info">
    <div class="contact-info-header">
      <div class="contact-info-header-layout">
        <h2 class="contact-info-h2">Contact information</h2>
        <p class="contact-info-p">Already have an account? <a href="/login">Log in</a></p>
      </div>
    </div>
    <div class="field-input-wrapper">
      <%= form.label :email, "Email:" %>
      <%= form.email_field :email, required: true, placeholder: 'Email', class: 'field-input' %>
    </div>
  <% end %>
  </div>

  <%= render "checkouts/steps/#{order.state}_step", form: form, differentiator: @differentiator %>
<% end %>
