<% if !product.taxons.blank? %>
  <section class="product-taxons">
    <h2 class="product-taxons__title">
      <%#= t('spree.look_for_similar_items') %>
    </h2>

    <div class="product-taxons--img">
      <% taxon = product.taxons.first %>
      <% similar_products = taxon.products.where.not(id: product.id).first %>
        <div class="related-img">
          <%= link_to (image_tag(similar_products.images.first.attachment.url)), product_path(similar_products.id), class: "related-prod" %>
        </div>
          <div class="product-image-text">Next product</div>
    </div>
  </section>
<% end %>
