<%
  base_class = "products-grid".freeze

  # Optional props
  classes = local_assigns.fetch(:classes, [])

  # Classes
  class_names = classes.push(base_class).join(" ")
%>

<div class="products--grid grid-cols-3">
  <% products.each do |product| %>
    <% if product.stock_items.first.count_on_hand > 0 %>
      <%= render 'products/product-card', product: product %>
    <% end %>
  <% end %>
</div>
