<%
  base_class = "products-grid".freeze

  # Optional props
  classes = local_assigns.fetch(:classes, [])

  # Classes
  class_names = classes.push(base_class).join(" ")
%>

<div class="products--grid grid-cols-3">
  <% products.each do |product| %>

    <%= render 'products/product-card', product: product %>
  <% end %>
</div>
