  <div class="product-header-taxon">
  </div>
  
  <div class="product-header-title" itemprop="name">
    <%= product.name %>
  </div>

  <% if product.price_for_options(current_pricing_options)&.money and !product.price.nil? %>
    <div class="product-header-price" class="product-price" id="product-price">
      <%= content_tag(
        :span,
        display_price(product),
        itemprop: 'price',
        content: product.price_for_options(current_pricing_options)&.money.to_d,
        data: { js: 'price' }
      ) %>

      <%= content_tag(
        :span,
        nil,
        itemprop: 'priceCurrency',
        content: current_pricing_options.currency
      ) %>
    </div>
  <% end %>

