<div class="products">
  <h1 class="products-title">
    All products
    <button class="filters--toggle">Filter & sort</button>
  </h1>
  <aside>
    <% if "products" == params[:controller] && @taxon %>
      <%= render 'shared/search/filters', taxon: @taxon %>
    <% else %>
      <%#= render 'shared/navigation/taxonomies', taxon: @taxon %>
    <% end %>
  </aside>
  <div class="products--layout">
    <span class="products--layout--title">View</span>
    <span>2</span>
    <span>3</span>
    <span>4</span>
  </div>
  <div class="products--container">
    <% if params[:keywords] %>
      <% if @products.empty? %>
        <h6>
          <%= t('spree.no_products_found') %>
        </h6>
      <% else %>
        <%= render 'products', products: @products, taxon: @taxon %>
      <% end %>
    <% else %>
      <%= render 'products', products: @products, taxon: @taxon %>
    <% end %>
  </div>
</div>
