<%= javascript_include_tag 'spree/frontend/homepage/topbar.js' %>
<div class="header-top-bar">
  <div class="menu">
    <div class="menu-sandwich" onclick="sidebar_open()" >
      <div style="width: 21px; height: 1px; background-color: white; margin: 6px 6px;"></div>
      <div style="width: 21px; height: 1px; background-color: white; margin: 6px 6px;"></div>
    </div>
    <div class="menu-close" style="margin: 0 6px;" onclick="sidebar_close()">
      &#x2715;
    </div>
  </div>
  <div class="top-logo">
    <%= link_to image_tag('spree/frontend/logo/LOGO COMPRESSED.jpg', class: "image_size"), root_path, class: 'logo--link' %>
  </div>
  <button class="cart-toggle"  onclick="bag_toggle()">
    <span class="bag">Bag</span>
    <span class="cart-toggle--dot">
      <span></span>
    </span>
  </button>


  
</div>




<%# if spree_current_user %>
    <%#= link_to I18n.t('spree.my_account'), account_path, class: 'auth-link' %>
  <%# else %>
    <%#= link_to I18n.t('spree.login'), login_path, class: 'auth-link' %>
  <%# end %>