<div class="confirm-step">
  <%= button_tag(
    I18n.t('spree.place_order'),
    class: 'btn delivery-btn',
    name: :commit,
  ) %>
  
  <%= render "checkout_summary", order: @order %>
  
  
</div>

<script>
  Solidus.disableSaveOnClick();
</script>
